<% include header %>

<% include navbar %>


    <div class="row justify-content-center">
        <div class="col-4">
            <h4>Alta de usuario</h4>
            <hr>
            <div class="form-group">
                <h4>Username</h4>
                <input type="text" id="username" placeholder="User name" class="form-control">
                <h4>Email</h4>
                <input type="text" id="email" placeholder="mail" class="form-control">
                <h4>Password</h4>
                <input type="password" id="password" placeholder="password" class="form-control">
            </div>
            <input type="button" class="btn btn-danger" value="Guardar" onclick="addUser()">
        </div>
    </div>


<% include footer %>