<% include header %>

<% include navbar %>


<div class="row justify-content-center" id="loginform">

    <div class="card bg-light" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">User login</h5>
            <input type="text" id="username" value="" placeholder="User name" class="form-control" required><br>

            <!-- <h5 class="card-title">Password</h5> -->
            <input type="password" id="password" value="" placeholder="Password" class="form-control" required><br>

            <input type="button" class="btn btn-outline-info" value="Sign in" onclick="getToken()">
        </div>
    </div>
</div>


<% include footer %>