<% include header %>

<% include navbar %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h5>Login</h5><hr>
            <div class="form-group">
                <input type="text" id="username" value="" placeholder="User name" class="form-control">
                <input type="password" id="password" value="" placeholder="Password" class="form-control">
            </div>
            <input type="button" class="btn btn-info" value="Sign in" onclick="getToken()">
        </div>
    </div>
    
</div>

<% include footer %>
