<% include header %>

<% include navbar %>

<div class="row justify-content-md-center" id="showIntro" >
    <div class="col-12">
       
    </div>
</div>

<div class="row" id="showMain" hidden>
    <div class="col-12 content">
        <ul id="ul">

        </ul>
    </div>
</div>


<% include footer %>