<% include header %>

<% include navbar %>

<div class="row">
    <div class="col-12 content">
        <ul>
            <li>
                <a href="#">
                    <h2>Idea #1</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit..</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<% include footer %>