<div class="container-fluid conta">
    <div class="row">
      <div class="col-12 header">

        <nav class="navbar  navbar-expand-md navbar-light bg-light">
          <a href="#" class="navbar-brand">
            <img src="./images/logo.png" height="130" alt="">
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav m-auto" id="navlink">
              <a href="#" class="nav-item nav-link active"></a>
              <a href="#" class="nav-item nav-link">Top</a>
              <a href="#" class="nav-item nav-link">Categories</a>
              <a href="#" class="nav-item nav-link disabled" >BrainStorming</a>
            </div>
            <div class="navbar-nav ml-auto" id="navlink">
              <a href="#" class="nav-item nav-link">Login</a>
              <a href="#" class="nav-item nav-link">Register</a>
            </div>
          </div>
        </nav>

      </div>
    </div>