<div class="container-fluid conta">
    <div class="row">
      <div class="col-12 header">

        <nav class="navbar  navbar-expand-md navbar-light bg-light">
          <a href="/" class="navbar-brand">
            <img src="../images/logo.png" height="130" alt="">
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav m-auto" id="navlink">
              <a href="#" class="nav-item nav-link active"></a>
              <a href="#" class="nav-item nav-link">Top</a>
              <a href="#" class="nav-item nav-link disabled">Categories</a>
              <a href="#" class="nav-item nav-link disabled" >BrainStorming</a>
            </div>
            <div class="navbar-nav ml-auto" id="navlink2" hidden>
              <a href="/login/" class="nav-item nav-link">Login</a>
              <a href="/add/" class="nav-item nav-link">New user</a>
            </div>
            <div class="navbar-nav ml-auto" id="navlink3" hidden >
                <a href="/user/" class="nav-item nav-link" onclick="showUserIdeas()">
                  <span id="userlogin"></span>
                </a>
                <a href="#" class="nav-item nav-link" onclick="logOut()">log out</a>
            </div>
          </div>
        </nav>
        <hr>

      </div>
    </div>
